
li:hover > ul {
      display: block;
    }
    li ul {
      display: none;
      position: absolute;
      background-color: #6a1b9a;
      top: 40px;
      left: 0;
      min-width: 150px;
      border-radius: 5px;
    }
    li ul li {
      margin: 0;
    }
    li ul li a {
      padding: 10px;
    }
    li ul li a:hover {
      background-color: #8e24aa;
    }